/********************/
/* Common */
/********************/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.primary-btn {
  background: #fff200;
  padding: 20px 30px;
  display: inline-block;
  border-radius: 10px;
  color: #824ebd;
  font-weight: bold;
  transition: all .2s ease;
}

.primary-btn:hover {
  opacity: .9;
}

.primary-btn:active {
  transform: translate(2px, 2px);
}


/********************/
/* Banner */
/********************/

.banner {
  background: #74cedd;
  padding: 20px 0;
  color: white;
}

.banner .wrapper {
  height: 380px;
  display: flex;
  align-items: stretch;
}

.banner .image {
  width: 550px;
  /* background: lightblue; */
  display: flex;
  align-items: center;
}

.banner .image svg {
  height: 320px;
}

.banner .content {
  /* background: lightgreen; */
  width: calc(100% - 550px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: self-start;
}

.banner .content h1 {
  margin: 0;
  font-weight: 500;
  font-size: 50px;
}

.banner .content p {
  margin-bottom: 50px;
  margin-top: 10px;
  font-size: 24px;
}

/* Left Top Position */
/* #leftBlackEye { cx: 110; cy: 75; }
#leftWhiteEye { cx: 105; cy: 70; }
#rightBlackEye { cx: 230; cy: 75; }
#rightWhiteEye { cx: 225; cy: 70; } */

/* Right Center Position */
#leftBlackEye {
  cx: 150;
  cy: 90;
}

#leftWhiteEye {
  cx: 155;
  cy: 90;
}

#rightBlackEye {
  cx: 275;
  cy: 90;
}

#rightWhiteEye {
  cx: 280;
  cy: 90;
}

@media (min-width: 768px) {}